---
interface Props {
  class?: string;
  containerClass?: string;
}
const { class: className, containerClass } = Astro.props;
---

<div class={`flex flex-row gap-1 ${containerClass}`}>
  <!-- Mastodon -->
  <a
    href="https://defcon.social/@mthguy"
    target="_blank"
    aria-label="Follow me on the DefCon Mastodon"
  >
    <svg
      class={className}
      fill="none"
      width="32px"
      height="32px"
      viewBox="0 0 500 500"
      xmlns="http://www.w3.org/2000/svg"><path
        d="M 476.019 118.189 C 469.04 67.264 423.831 27.143 370.24 19.364 C 361.197 18.05 326.942 13.27 247.58 13.27 L 246.986 13.27 C 167.607 13.27 150.581 18.05 141.538 19.364 C 89.434 26.923 41.857 62.978 30.309 114.5 C 24.757 139.872 24.168 168.002 25.196 193.805 C 26.666 230.808 26.955 267.749 30.377 304.598 C 32.745 329.089 36.873 353.373 42.733 377.273 C 53.704 421.418 98.123 458.165 141.648 473.154 C 188.297 488.791 238.342 491.388 286.36 480.653 C 291.639 479.45 296.866 478.045 302.035 476.451 C 313.687 472.813 327.357 468.739 337.41 461.591 C 337.686 461.388 337.858 461.077 337.87 460.735 L 337.87 425.015 C 337.863 424.698 337.711 424.399 337.453 424.203 C 337.197 424.007 336.866 423.933 336.553 424.007 C 305.775 431.225 274.263 434.84 242.645 434.778 C 188.216 434.778 173.583 409.426 169.383 398.876 C 166.016 389.766 163.872 380.246 163.016 370.567 C 163.004 370.238 163.144 369.92 163.407 369.714 C 163.672 369.506 164.013 369.432 164.338 369.518 C 194.602 376.681 225.607 380.295 256.709 380.282 C 264.198 380.282 271.654 380.282 279.143 380.093 C 310.434 379.226 343.424 377.658 374.214 371.752 C 374.979 371.606 375.744 371.477 376.405 371.282 C 424.976 362.124 471.195 333.395 475.89 260.641 C 476.069 257.771 476.503 230.638 476.503 227.663 C 476.527 217.564 479.821 156.004 476.019 118.183 L 476.019 118.189 Z M 401.275 299.727 L 350.195 299.727 L 350.195 176.959 C 350.195 151.118 339.223 137.935 316.906 137.935 C 292.367 137.935 280.079 153.531 280.079 184.329 L 280.079 251.526 L 229.318 251.526 L 229.318 184.329 C 229.318 153.531 217.005 137.935 192.466 137.935 C 170.278 137.935 159.195 151.118 159.178 176.966 L 159.178 299.732 L 108.152 299.732 L 108.152 173.234 C 108.152 147.388 114.873 126.854 128.319 111.637 C 142.187 96.452 160.383 88.654 182.963 88.654 C 209.106 88.654 228.857 98.521 242.022 118.225 L 254.733 139.163 L 267.461 118.225 C 280.625 98.521 300.381 88.654 326.476 88.654 C 349.032 88.654 367.228 96.452 381.137 111.637 C 394.59 126.842 401.311 147.376 401.311 173.234 L 401.263 299.732 L 401.275 299.727 Z"
        stroke-linecap="round"
        stroke-linejoin="round"
        vector-effect="non-scaling-stroke"
      />
    </svg>
  </a>
  <!--Github-->
  <a
    href="https://github.com/KyleChamberlin"
    target="_blank"
    aria-label="Go to my github page"
  >
    <svg
      class={className}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
        stroke-linecap="round"
        stroke-linejoin="round"></path><path
        d="M14.333 19v-1.863c.025-.31-.018-.62-.126-.913a2.18 2.18 0 00-.5-.781c2.093-.227 4.293-1 4.293-4.544 0-.906-.358-1.778-1-2.434a3.211 3.211 0 00-.06-2.448s-.787-.227-2.607.961a9.152 9.152 0 00-4.666 0c-1.82-1.188-2.607-.96-2.607-.96A3.211 3.211 0 007 8.464a3.482 3.482 0 00-1 2.453c0 3.519 2.2 4.291 4.293 4.544a2.18 2.18 0 00-.496.773 2.134 2.134 0 00-.13.902V19M9.667 17.702c-2 .631-3.667 0-4.667-1.948"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
  <!-- Linkedin -->
  <a
    href="https://linkedin.com/in/kylechamberlin"
    target="_blank"
    aria-label="Go to my linkedin page"
  >
    <svg
      class={className}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5zM7 17v-7"
        stroke-linecap="round"
        stroke-linejoin="round"></path><path
        d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
</div>
